certifi==2022.12.7
charset-normalizer==3.0.1
idna==3.4
Pillow==9.4.0
-e git+https://github.com/olakayCoder1/olakay-prembly-sdk.git@9da242222f20a7bbc12a1ef8099b15c4ec12ebc9#egg=prembly
python-dotenv==0.21.1
requests==2.28.2
urllib3==1.26.14
